@model PizzaShop.Domain.ViewModels.CategoryViewModel;

 <div class="add-user-back">
        <div class="mt-3 me-3 ms-4 d-flex flex-column">
          <div class="d-flex justify-content-between">
            <h2>Menu</h2>
          </div>
          <div class="nav  shadow-lg mt-5 mx-2" id="nav-tab" role="tablist">

            <button class="nav-link active text-black" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
              aria-controls="nav-home" aria-selected="true"><img src="./images/menu-black.svg" alt=""
                class="sidebar-svg"> Items</button>
            <button class="nav-link text-black" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
              aria-controls="nav-profile" aria-selected="false"> <img src="./images/black-modifier.svg" alt=""
                class="menu-page-svg"> Modifiers</button>
          </div>

          <div class="container-fluid row">
            <div class="col-xl-3 col-lg-3  col-md-12 col-sm-12 mt-5  shadow p-4 d-flex flex-column">
              <div class="d-flex justify-content-between">
                <h4 class="pizzashop-heading">Category</h4>

                <button type="button" class="btn-light btn btn-sm addCategory-btn" data-bs-toggle="modal"
                  data-bs-target="#addCategory">
                  <a href="#"> <i class="fas fa-plus"></i></a></button>

              </div>
              <div class="d-flex flex-column ">

                @foreach (var category in Model.Categories)
                {
                <div class="mt-3 category-items d-flex justify-content-between div-h sandwichClass" onclick="changeColor('sandwich')">
                 <div>
                    <img src="./images/gray-six-dots.svg" alt="" class="sidebar-svg d-none" id="gray-sandwich">
                    <img src="./images/blue-six-dots.svg" alt="" class="sidebar-svg" id="blue-sandwich">
                    <span class="category-class active-category" id="span-sandwich">@category.Name</span>
                  </div>
                  <div class="hide">
                  <a href="#"><button class="btn btn-light btn-sm"><i class="fas fa-pencil"></i></button></a>
                  <button type="button" class="btn-light btn btn-sm delete-icon-border" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    <a href="#" class="delete-icon"> <i class="fas fa-trash"></i></a></button>
                  </div>

                </div>
                }
              </div>
            </div>
            <div class="table-user mt-5 px-5  shadow-lg p-4 col-xl-9 col-lg-9 col-md-12 col-sm-12">
              <div class="table-responsive">
              <div class="d-flex justify-content-between">
                <h4 class="pizzashop-heading">Items</h4>
                <div class="d-flex gap-3">
                  <div class="input-group rounded ">
                    <input type="search" class="form-control rounded " placeholder="Search" />
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="fas fa-search"></i>
                    </span>
                  </div>

                  <button type="button" class="btn-light btn  delete-icon-border" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    <a href="#" class="delete-icon"> <i class="fas fa-trash"></i></a></button>

                  <a href="./AddUser.html" class="text-decoration-none">
                    <button type="button" class="btn btn-primary userButton-size">New item +</button></a>
                </div>
              </div>

              <table class="table table-hover  ">
                <thead>
                  <tr style="white-space: nowrap;">
                    <th>Name</th>
                    <th>Item Type</th>
                    <th>Rate</th>
                    <th>Quantity</th>
                    <th>Available</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="white-space: nowrap;">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <img src="./images/dining-menu.png" alt="" class="sidebar-svg">
                        <label class="form-check-label" for="flexCheckDefault">
                          Punjabi Tadka Sandwich
                        </label>
                      </div>
                    </td>
                    <td>
                      <img src="./images/icons/non-veg-icon.svg" alt="" class="sidebar-svg">
                    </td>
                    <td>200</td>
                    <td>1</td>
                    <td>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                          checked>
                      </div>
                    </td>

                    <td>
                      <a href="#"><button class="btn btn-light btn-sm"><i class="fas fa-pencil"></i></button></a>
                      <button type="button" class="btn-light btn btn-sm delete-icon-border" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <a href="#" class="delete-icon"> <i class="fas fa-trash"></i></a></button>


                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <img src="./images/dining-menu.png" alt="" class="sidebar-svg">
                        <label class="form-check-label" for="flexCheckDefault">
                          Chicken Sandwich
                        </label>
                      </div>
                    </td>
                    <td>
                      <img src="./images/icons/non-veg-icon.svg" alt="" class="sidebar-svg">
                    </td>
                    <td>200</td>
                    <td>1</td>
                    <td>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                          checked>
                      </div>
                    </td>

                    <td>
                      <a href="#"><button class="btn btn-light btn-sm"><i class="fas fa-pencil"></i></button></a>
                      <button type="button" class="btn-light btn btn-sm delete-icon-border" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <a href="#" class="delete-icon"> <i class="fas fa-trash"></i></a></button>


                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <img src="./images/dining-menu.png" alt="" class="sidebar-svg">
                        <label class="form-check-label" for="flexCheckDefault">
                          Cheese Sandwich
                        </label>
                      </div>
                    </td>
                    <td>
                      <img src="./images/icons/veg-icon.svg" alt="" class="sidebar-svg">
                    </td>
                    <td>150</td>
                    <td>1</td>
                    <td>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                          checked>
                      </div>
                    </td>

                    <td>
                      <a href="#"><button class="btn btn-light btn-sm"><i class="fas fa-pencil"></i></button></a>
                      <button type="button" class="btn-light btn btn-sm delete-icon-border" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <a href="#" class="delete-icon"> <i class="fas fa-trash"></i></a></button>


                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <img src="./images/dining-menu.png" alt="" class="sidebar-svg">
                        <label class="form-check-label" for="flexCheckDefault">
                          Aloo Sandwich
                        </label>
                      </div>
                    </td>
                    <td>
                      <img src="./images/icons/veg-icon.svg" alt="" class="sidebar-svg">
                    </td>
                    <td>120</td>
                    <td>1</td>
                    <td>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                          checked>
                      </div>
                    </td>

                    <td>
                      <a href="#"><button class="btn btn-light btn-sm"><i class="fas fa-pencil"></i></button></a>
                      <button type="button" class="btn-light btn btn-sm delete-icon-border" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <a href="#" class="delete-icon"> <i class="fas fa-trash"></i></a></button>


                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <img src="./images/dining-menu.png" alt="" class="sidebar-svg">
                        <label class="form-check-label" for="flexCheckDefault">
                          Black Bean Sandwich
                        </label>
                      </div>
                    </td>
                    <td>
                      <img src="./images/icons/veg-icon.svg" alt="" class="sidebar-svg">
                    </td>
                    <td>100</td>
                    <td>1</td>
                    <td>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                          checked>
                      </div>
                    </td>

                    <td>
                      <a href="#"><button class="btn btn-light btn-sm"><i class="fas fa-pencil"></i></button></a>
                      <button type="button" class="btn-light btn btn-sm delete-icon-border" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <a href="#" class="delete-icon"> <i class="fas fa-trash"></i></a></button>


                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

              <div class="d-flex justify-content-end align-items-center px-3 mt-3 gap-3">
                <div>
                  Items Per Page:
                  <select class="form-select form-select-sm d-inline-block" style="width: auto;">
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                  </select>
                </div>
                <nav>
                  <ul class="pagination pagination-sm mb-0 ms-2 ">
                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>


<div class="modal fade" id="addCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Add Category</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="addCategoryForm">
              <div class="d-flex flex-column">
                <div class="form-floating my-2 mx-2">
                  <input type="text" class="form-control" id="category-name" asp-for="CategoryName" name="CategoryName" placeholder="Pasta">
                  <label for="name">Name*</label>
                </div>
                <div class="form-floating my-2 mx-2">
                  <input type="text" class="form-control" asp-for="Description" name="Description" placeholder="This is the description of pasta"
                    id="category-description"></input>
                  <label for="description">Description*</label>
                </div>
              </div>
              <div class="modal-footer">
            <button type="submit" class="btn btn-primary">AddCategory</button>
          </div>
            </form>

          </div>
          
        </div>
      </div>
    </div>

       <script src="~/js/menu.js" asp-append-version="true"></script>