
<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true">

        <div class="add-user-back container-fluid ">
        <div class="d-flex justify-content-between m-2">
            <div>
                <h2>Dashboard</h2>
            </div>
            <select class="form-select w-25" aria-label="Default select example">
                <option selected>CurrentMonth</option>
                <option value="1">February</option>
                <option value="2">March</option>
                <option value="3">April</option>
              </select>
        </div>
        <div class="row">
           
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 d-flex flex-column p-3">
                <div class="card dashboard-card-size shadow">
                    <div class="d-flex align-items-center justify-content-end m-2">
                        <div class="sales-border d-flex justify-content-center align-items-center" >
                            <div class="sales-border-inner d-flex justify-content-center align-items-center">
                                <img src="./images/icons/total-sales.svg" class="dashboard-card-img" >
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">1630</h3>
                      <p class="dashboard-card-text">Total Sales</p>
                    </div>
                  </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 d-flex flex-column p-3">
                <div class="card dashboard-card-size shadow">
                    <div class="d-flex align-items-center justify-content-end m-2">
                        <div class="orders-border d-flex justify-content-center align-items-center" >
                            <div class="orders-border-inner d-flex justify-content-center align-items-center">
                                <img src="./images/icons/total-orders.svg" class="dashboard-card-img" >
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">1630</h3>
                      <p class="dashboard-card-text">Total Sales</p>
                    </div>
                  </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 d-flex flex-column p-3">
                <div class="card dashboard-card-size shadow">
                    <div class="d-flex align-items-center justify-content-end m-2">
                        <div class="order-value-border d-flex justify-content-center align-items-center" >
                            <div class="order-value-border-inner d-flex justify-content-center align-items-center">
                                <img src="./images/icons/order-value.svg" class="dashboard-card-img" >
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">1630</h3>
                      <p class="dashboard-card-text">Total Sales</p>
                    </div>
                  </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 d-flex flex-column p-3">
                <div class="card dashboard-card-size shadow">
                    <div class="d-flex align-items-center justify-content-end m-2">
                        <div class="waiting-time-border d-flex justify-content-center align-items-center" >
                            <div class="waiting-time-border-inner d-flex justify-content-center align-items-center">
                                <img src="./images/icons/waiting-time.svg" class="dashboard-card-img" >
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">1630</h3>
                      <p class="dashboard-card-text">Total Sales</p>
                    </div>
                  </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex flex-column px-3 my-4 ">
                <div class="card dashboard-card-size shadow " style="height: 250px;">
                    <div class="d-flex align-items-center justify-content-start m-2">
                        <div class="d-flex justify-content-center align-items-center" >
                                <h3 class="m-2 dashboard-graph-title">Revenue</h3>
                        </div>
                    </div>
                    <div class="card-body">
                      
                    </div>
                  </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex flex-column px-3 my-4 ">
                <div class="card dashboard-card-size shadow " style="height: 250px;">
                    <div class="d-flex align-items-center justify-content-start m-2">
                        <div class="d-flex justify-content-center align-items-center" >
                                <h3 class="m-2 dashboard-graph-title">Revenue</h3>
                        </div>
                    </div>
                    <div class="card-body">
                      
                    </div>
                  </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 d-flex flex-column p-3">
                <div class="card dashboard-card-size shadow">
                    <div class="d-flex align-items-center justify-content-end m-2">
                        <div class="sales-border d-flex justify-content-center align-items-center" >
                            <div class="sales-border-inner d-flex justify-content-center align-items-center">
                                <img src="./images/icons/total-sales.svg" class="dashboard-card-img" >
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">1630</h3>
                      <p class="dashboard-card-text">Total Sales</p>
                    </div>
                  </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 d-flex flex-column p-3">
                <div class="card dashboard-card-size shadow">
                    <div class="d-flex align-items-center justify-content-end m-2">
                        <div class="orders-border d-flex justify-content-center align-items-center" >
                            <div class="orders-border-inner d-flex justify-content-center align-items-center">
                                <img src="./images/icons/total-orders.svg" class="dashboard-card-img" >
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">1630</h3>
                      <p class="dashboard-card-text">Total Sales</p>
                    </div>
                  </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 d-flex flex-column p-3">
                <div class="card dashboard-card-size shadow">
                    <div class="d-flex align-items-center justify-content-end m-2">
                        <div class="order-value-border d-flex justify-content-center align-items-center" >
                            <div class="order-value-border-inner d-flex justify-content-center align-items-center">
                                <img src="./images/icons/order-value.svg" class="dashboard-card-img" >
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">1630</h3>
                      <p class="dashboard-card-text">Total Sales</p>
                    </div>
                  </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 d-flex flex-column p-3">
                <div class="card dashboard-card-size shadow">
                    <div class="d-flex align-items-center justify-content-end m-2">
                        <div class="waiting-time-border d-flex justify-content-center align-items-center" >
                            <div class="waiting-time-border-inner d-flex justify-content-center align-items-center">
                                <img src="./images/icons/waiting-time.svg" class="dashboard-card-img" >
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">1630</h3>
                      <p class="dashboard-card-text">Total Sales</p>
                    </div>
                  </div>
            </div>
            
        </div>
      </div>

  <script src="~/js/dashboard.js"></script>
  <script src="~/js/bootstrap.bundle.min.js"></script>
