 @model PizzaShop.Domain.ViewModels.ResetPasswordViewModel
  
  @{
    Layout=null;
  }
  
  <div class="row body-background position-absolute h-100 backgroundImage w-100">
            
            <div class="d-none d-md-block col-md-6 col-sm-12">
                <img class="w-100 h-100 object-fit-cover" src="~/images/dominos_background.jpg" alt="">
            </div>
            <div class="col-md-6 col-sm-12 d-flex flex-column align-items-center justify-content-center">
                <div class="d-flex align-items-center justify-content-center no-padding">
                    <img src="./images/logos/pizzashop_logo.png" alt="" class="h-50 w-50">
                    <h2 class="pizzashop-heading px-3" onclick="showPassword()">PIZZASHOP</h2>
                </div>
                <div class="d-flex  flex-column gap-3 justify-content-center w-100 ">
                <div class="d-flex align-items-center justify-content-start marginLeft">
                    <p>Enter your email here we'll send you a reset password link on your email</p>
                </div>
                    <div class="d-flex align-items-center justify-content-center">
                    <form class="form-container d-flex flex-column gap-3" id="reset-password-form">
                        <div class="input-group d-flex flex-column">
                            <div>
                            <input type="password" asp-for="NewPassword" class="form-control input::-ms-reveal" required placeholder="New Password"  id="password">
                            <img src="~/images/show-password.svg"  onclick="showPassword()" class="tiny-svg " id="showpassword"/>
                            <img src="~/images/hide-password.svg"   onclick="showPassword()"   class="tiny-svg d-none" id="hidepassword"/>
                            </div>
                            <div>
                            <p id="password-error" class="text-danger"></p>
                            </div>
                            
                        </div>
                        <div class="input-group d-flex flex-column">
                            <div>
                            <input type="password" asp-for="ConfirmPassword" class="form-control input::-ms-reveal" required placeholder="Confirm Password"  id="password1">
                            <img src="~/images/show-password.svg"  onclick="confirmPassword()" class="tiny-svg " id="showpassword1"/>
                            <img src="~/images/hide-password.svg"   onclick="confirmPassword()"   class="tiny-svg d-none" id="hidepassword1"/>
                            </div>
                            <div>
                            <p id="confirm-password-error" class="text-danger "></p>
                            <p id="password-does-not-match-error" class="text-danger "></p>
                            </div>
                        </div>
                            <input id="token" type="text" class="d-none" value="@Model.Token">
                            <input id="userid" type="text" class="d-none" value="@Model.UserId">
                          <button type="submit" class="btn btn-primary">Reset your password</button>
                    </form>
                </div>
                </div>
            </div>
        </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/resetPassword.js" asp-append-version="true"></script>